---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
  &copy; {today.getFullYear()} Vlad Esaulov
  </div>
  <div class="inline opacity-75">
  Built with Astrofy Template ⚡️
  </div>
</footer>
<style></style>
